PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=lingku_db

# Session Secret
SESSION_SECRET=lingkusessions
JWT_SECRET=supersecretlingku

# iPaymu Configuration
IPAYMU_MODE=sandbox
IPAYMU_VA_LIVE=
IPAYMU_APIKEY_LIVE=
IPAYMU_URL_LIVE=https://my.ipaymu.com

IPAYMU_VA_SANDBOX=
IPAYMU_APIKEY_SANDBOX=
IPAYMU_URL_SANDBOX=https://sandbox.ipaymu.com

# Fonnte Configuration (WhatsApp)
FONNTE_TOKEN=
